In [7]:
import pandas as pd
import numpy as np

In [23]:
alldf= pd.read_csv('customer-databases/all.csv', sep=';')
grocerydf = pd.read_csv('customer-databases/grocery_store.csv', sep=';') 
deseaseiddf = pd.read_csv('customer-databases/disease_id.csv', sep=';')
insurancedf = pd.read_csv('customer-databases/insurance_company.csv', sep=';')
insurancehealthdf = pd.read_csv('customer-databases/insurance_health.csv', sep=';')
diseasedf = pd.read_csv('customer-databases/disease_id.csv', sep=';')
prescriptiondf = pd.read_csv('customer-databases/prescriptions.csv', sep=';')

In [24]:
newdf = alldf.merge(grocerydf, how="left", on="grocery_member_id", suffixes=('', '_y'))

In [25]:
newdf.drop(list(newdf.filter(regex = '_y')), axis = 1, inplace = True)

In [27]:
newdf = newdf.merge(insurancedf, how="left", on="insurance_member_id", suffixes=('', '_y'))

In [29]:
newdf.drop(list(newdf.filter(regex = '_y')), axis = 1, inplace = True)

In [31]:
newdf = newdf.merge(insurancehealthdf, how="left", on="insurance_id", suffixes=('', '_y'))

In [37]:
newdf.drop(list(newdf.filter(regex = '_y')), axis = 1, inplace = True)

In [35]:
newdf = newdf.merge(diseasedf, how="left", on="disease_id", suffixes=('', '_y'))

In [39]:
newdf = newdf.merge(prescriptiondf, how="left", on="perscription_id", suffixes=('', '_y'))

In [41]:
newdf.drop(list(newdf.filter(regex = '_y')), axis = 1, inplace = True)

In [95]:
newdf.columns

Index(['insurance_member_id', 'grocery_member_id', 'plan_number', 'dob',
       'address', 'credit_card', 'ad_keywords', 'coupon_code', 'firstname',
       'lastname', 'gender', 'ethnicity', 'ssn', 'zip', 'id', 'city', 'state',
       'grocery_id', 'insurance_id', 'insurance_health_id', 'disease_id',
       'perscription_id', 'disease_name', 'disease_treats', 'chemical_name',
       'marketing_name', 'perscription_probability'],
      dtype='object')

In [43]:
newdf.to_csv('merged3.csv', sep=';', index=False)

In [44]:
newdf.head()

,insurance_member_id,grocery_member_id,plan_number,dob,address,credit_card,ad_keywords,coupon_code,firstname,lastname,...,grocery_id,insurance_id,insurance_health_id,disease_id,perscription_id,disease_name,disease_treats,chemical_name,marketing_name,perscription_probability
0,ab122f73-cbcf-4607-9c12-cb800c2a37e5,9f42b7ad-b512-4ccf-947a-b66b6643deca,7732,1967-04-13,7 Utah Parkway,5100149057970108,ante ipsum,1,BENJAMIN,WALKER,...,100901.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ab14879f-2c34-408c-9a20-77547a2adb23,b60c8450-64eb-41fe-8dda-1bbaf00d9e29,71963,1950-07-17,7 Sauthoff Pass,4175004102583930,velit donec diam neque vestibulum,62699,ERICK,BUTLER,...,100902.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ab16fce9-9666-44f1-8ab9-8dfc02b713a7,f479358b-3ddd-40ff-9053-501c63a4f413,9,1939-03-12,979 Valley Edge Road,3565552068068866,at ipsum ac tellus semper,80315,LOUIE,HENDERSON,...,NaN,126570.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ab1742ab-c368-4827-886c-9fa0ad1f43b6,040e3fae-4fe8-4c2c-b92b-18bff1539afa,2303,1937-10-30,1319 Knutson Hill,5602215613252159,venenatis tristique fusce,8,DYLAN,PEREZ,...,NaN,144207.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ab19d51d-59b9-4a19-8940-a2f95827e98a,f82351fd-cc2d-4501-a357-64dc1a6fc938,34938,1964-12-30,0 Thierer Junction,58939128207813729,duis at velit eu,39641,WARD,SANCHEZ,...,100903.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [106]:
newdf2 = newdf.drop(['firstname','lastname','address','credit_card','ssn','insurance_member_id','insurance_health_id'], axis=1, errors='ignore')

In [107]:
newdf2.columns

Index(['grocery_member_id', 'plan_number', 'dob', 'ad_keywords', 'coupon_code',
       'gender', 'ethnicity', 'zip', 'id', 'city', 'state', 'grocery_id',
       'insurance_id', 'disease_id', 'perscription_id', 'disease_name',
       'disease_treats', 'chemical_name', 'marketing_name',
       'perscription_probability'],
      dtype='object')

In [108]:
newdf2['zip'] = newdf2['zip'].astype(str)

In [110]:
def process_zip(df):
    newdf = df
    for i,row in newdf.iterrows():
        tmp = str(row['zip'])
        new_zip = tmp[:3]
        for j in range(len(tmp)-3):
            new_zip = new_zip + '*'
        newdf.at[i,'zip'] = new_zip
        #print("processed: ",newdf.iloc[i]['zip'])
    return newdf

In [111]:
newdf3 = process_zip(newdf2)

In [100]:
newdf2.dtypes

grocery_member_id            object
plan_number                   int64
dob                          object
ad_keywords                  object
coupon_code                   int64
gender                       object
ethnicity                    object
zip                          object
id                            int64
city                         object
state                        object
grocery_id                  float64
insurance_id                float64
disease_id                  float64
perscription_id             float64
disease_name                 object
disease_treats               object
chemical_name                object
marketing_name               object
perscription_probability    float64
dtype: object

In [112]:
def process_dob(df):
    newdf = df
    for i,row in newdf.iterrows():
        tmp = str(row['dob']).split('-')
        newdf.at[i,'dob'] = tmp[0]
        #print("processed: ",newdf.iloc[i]['dob'])
    return newdf

In [113]:
newdf4 = process_dob(newdf3)

In [114]:
newdf4.head()

,grocery_member_id,plan_number,dob,ad_keywords,coupon_code,gender,ethnicity,zip,id,city,state,grocery_id,insurance_id,disease_id,perscription_id,disease_name,disease_treats,chemical_name,marketing_name,perscription_probability
0,9f42b7ad-b512-4ccf-947a-b66b6643deca,7732,1967,ante ipsum,1,M,White,787**,25,AUSTIN,TX,100901.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b60c8450-64eb-41fe-8dda-1bbaf00d9e29,71963,1950,velit donec diam neque vestibulum,62699,M,Asian,631**,28,SAINT LOUIS,MO,100902.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,f479358b-3ddd-40ff-9053-501c63a4f413,9,1939,at ipsum ac tellus semper,80315,M,White,900**,31,LOS ANGELES,CA,NaN,126570.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,040e3fae-4fe8-4c2c-b92b-18bff1539afa,2303,1937,venenatis tristique fusce,8,M,White,667**,32,CRESTLINE,KS,NaN,144207.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,f82351fd-cc2d-4501-a357-64dc1a6fc938,34938,1964,duis at velit eu,39641,M,Black,432**,33,COLUMBUS,OH,100903.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [115]:
newdf4.to_csv('deidentified.csv', sep=';', index=False)